
		<p>Painstakingly reconstructed from fragments of ancient literature</p>
		<p>While simultaneously passed down by an order of equally ancient monks</p>
		<h1>Foo's Ball</h1>
	</div>
	<div class="col-md-6">
		<img src="images/ball.jpg" />
