
	<div class="col-md-6">
		<h1>Foo's Ball</h1>
		<ul>
		<li>The athleticism of Football</li>
		<li>The elegance of Go </li>
		<li>The numerous qualities of Calvinball</li>
		</ul>
	</div>
	<div class="col-md-6">
		<img src="images/ball.jpg" />
	</div>
